ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-size: 15px;
}

.navbar {
  padding: 18px;
}

.col {
  padding: 5px;
}

.card {
  width: 100%;
  background-color: whitesmoke;
}

.forecast-card {
  background-color: aqua;
}

.search-module {
  height: 100%;
}

.cityList {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding-left: 2px;
  background-color: lightgrey;
}

.cityList:hover {
  background-color: black;
  color: white;
}

.container {
  margin-top: 5px;
}